<!--================================
             HERO
=================================-->

<section id="home" class="hero">


<!-- Left Content -->

<div class="hero-content">


    <div class="hero-tag glass">

        👋 Hello, I am Erick

    </div>


    <h1>

        I build<br>
        digital experiences

    </h1>


    <p>

        Full Stack Developer focused on creating
        modern applications with clean architecture,
        premium interfaces and futuristic design.

    </p>


    <div class="hero-buttons">


        <a href="#projects"
           class="primary-btn">

            View My Work

        </a>


        <a href="#career"
           class="secondary-btn">

            My Journey

        </a>


    </div>


</div>