<!--================================
          FUTURE PROFILE CARD
=================================-->


<div class="profile-card">


    <!-- Orbit -->
    <div class="orbit"></div>


    <!-- Glow -->
    <div class="small-glow"></div>


    <!-- Avatar -->

    <div class="avatar">

        <img src="{{ url_for('static', filename='img/yo.png') }}" alt="Erick Saavedra">

    </div>



    <!-- Profile Data -->

    <div class="profile-info">


        <h2>
            Erick Saavedra
        </h2>


        <p>
            Full Stack Developer
        </p>


        <span class="status">

            ● Available for work

        </span>


    </div>


    <!-- Social Dock -->

    <div class="socials">


        <a href="#">
            <i class="fa-brands fa-github"></i>
        </a>


        <a href="#">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>


        <a href="#">
            <i class="fa-brands fa-x-twitter"></i>
        </a>


        <a href="#">
            <i class="fa-brands fa-instagram"></i>
        </a>


    </div>


</div>


</section>