
<!--================================
       CAREER / GIT TIMELINE
       my_carrier_section
=================================-->

<section id="career" class="career">

<div class="section-title">


    <h2>
        Development History
    </h2>


    <p>
        The commits that built my career
    </p>


</div>
    <!-- Terminal Header -->

    <!-- Git History -->


    <div class="git-terminal glass">


        <div class="terminal-top">

            <span class="circle red"></span>
            <span class="circle yellow"></span>
            <span class="circle green"></span>


            <span class="terminal-title">

                career-history.sh

            </span>


        </div>


        <div class="terminal-command">

            $ git log --career --oneline <!--span class="cursor"></span> -->

        </div>


    </div>

    <div class="git-timeline">

        {% for item in career %}
        <div class="commit">

            <div class="node {{ item.type }}"></div>

            <div class="commit-card glass">

                <span class="commit-tag">
                    {{ item.tag }}
                </span>

                <h3>
                    {{ item.title }}
                </h3>

                <p>
                    {{ item.description }}
                </p>

                <small>
                    {{ item.date }}
                </small>

            </div>

        </div>
        {% endfor %}

    </div>


</section>
