 
<!--================================
            ABOUT SECTION
=================================-->

<section id="about" class="about">

    <div class="section-title">

        <span>
            about-me.sh
        </span>

        <h2>
            Who I Am
        </h2>

    </div>


    <div class="about-container">


        <div class="contact-terminal about-card glass">

            <div class="terminal-top">

                <span class="circle red"></span>
                <span class="circle yellow"></span>
                <span class="circle green"></span>

                <span class="terminal-title">
                    about.sh
                </span>

            </div>

            <div class="terminal-command">
                $ whoami --show
            </div>

            <div class="about-content">

                <p>
                I’m a software developer focused on real-world projects and practical solutions.
                I built a glass-style portfolio with HTML, CSS, and Python (using AI tools), developed custom Odoo applications,
                worked on computer vision systems with OpenCV, and delivered control and power electronics projects using LabVIEW.
                I also automate processes with shell scripts and continue growing as a developer while exploring AI technologies.
                <div class="stats">


                    <div class="stat">

                        <h3>+5</h3>

                        <span>
                            Years Learning
                        </span>

                    </div>


                    <div class="stat">

                        <h3>+7</h3>

                        <span>
                            Projects
                        </span>

                    </div>


                    <div class="stat">

                        <h3>∞</h3>

                        <span>
                            Curiosity
                        </span>

                    </div>


                </div>

            <p class="status-online" style="margin-top: 30px; font-size: 0.8rem;">

                ● Continue...

            </p>

            </div>




        </div>


    </div>


</section>