<!--================================
            CONTACT
=================================-->


<section id="contact" class="contact">


    <div class="contact-terminal glass">


        <div class="terminal-top">


            <span class="circle red"></span>

            <span class="circle yellow"></span>

            <span class="circle green"></span>


            <span class="terminal-title">

                contact.sh

            </span>


        </div>



        <div class="terminal-command">

            $ connect --developer

        </div>



        <div class="contact-info">


            <p>

                > Email:
                dev@ericksaavedra.com

            </p>


            <p>

                > GitHub:
                https://github.com/conseicka

            </p>


            <p>

                > LinkedIn:
                https://www.linkedin.com/in/dev-ericksaavedra

            </p>

            <p>

                > Website:
                https://www.ericksaavedra.com

            </p>

            <p class="status-online">

                ● Waiting for connection...

            </p>


        </div>


    </div>


</section>

