<!--================================
            CONTACT
=================================-->


<section id="contact" class="contact">


    <div class="contact-terminal glass">


        <div class="terminal-top">


            <span class="circle red"></span>

            <span class="circle yellow"></span>

            <span class="circle green"></span>


            <span class="terminal-title">

                contact.sh

            </span>


        </div>



        <div class="terminal-command">

            $ connect --developer

        </div>



        <div class="contact-info">


            <p>

                > Email:
                your.email@example.com

            </p>


            <p>

                > GitHub:
                github.com/your-profile

            </p>


            <p>

                > LinkedIn:
                linkedin.com/in/your-profile

            </p>


            <p class="status-online">

                ● Waiting for connection...

            </p>


        </div>


    </div>


</section>

