<!--================================
             HERO
=================================-->

<section id="home" class="hero">


<!-- Left Content -->

<div class="hero-content">


    <div class="hero-tag glass status-online">

        👋 Hello, I am Erick...

    </div>


    <h1>

        I build<br>
        software solutions

    </h1>


    <p>

        Python Developer focused on creating
        software solutions
        and learning new AI technologies.

    </p>


    <div class="hero-buttons">


        <a href="#projects"
           class="primary-btn">

            View My Work

        </a>


        <a href="#career"
           class="secondary-btn">

            My Journey

        </a>


    </div>


</div>