<!--================================
            PROJECTS
=================================-->

<section id="projects" class="projects">


    <div class="section-title">

        <span>
            repositories.sh
        </span>

        <h2>
            Featured Projects
        </h2>

    </div>


    <div class="projects-grid">


    {%- for p in projects%}
    <a href="/project/{{ p.id }}" class="project-card glass" style="text-decoration: none; color: inherit;">
        <div class="project-header">
            <span class="project-icon">{{ p.icon }}</span>
            <h3>{{ p.title }}</h3>
        </div>

        <p>{{ (p.brief if p.brief else p.description)|truncate(150) }}</p>

        <div class="project-stack">
            {%- for tech in p.stack %}
            <span>{{ tech }}</span>
            {%- endfor %}
        </div>
    </a>
    {%- endfor %}


    </div>


</section>
